$backgroundColor = #000
$accentColor = #fff
$textColor = #fff
$borderColor = #eaecef
$arrowBgColor = #ccc
$badgeTipColor = #fff

// layout
$navbarHeight = 3.6rem
$contentWidth = 740px
$homePageWidth = 1400px

$breakpointDesktop = 719px
$breakpointMobile = 419px